@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

@mixin markdown {
  > *:first-child {
    margin-top: 1em;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  ul li {
    margin: 4px 0;
  }

  ul.task-list {
    li.task-list-item {
      list-style-type: none;

      input {
        margin-left: -19px;
      }
    }
  }
}

html {
  height: 100%;
}

body.editor {
  > nav {
    margin-bottom: 0;
  }

  div.wrapper > div.container-fluid {
    padding: 0;
    width: 100%;
  }

  div.editor-controls {
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 8px;

    div.name {
      font-size: 20px;
      font-weight: bold;
    }

    div.user {
      display: block;
      padding: 7px 14px;
    }

    a {
      cursor: pointer;
    }
  }

  div.editor-box {
    div.ace_editor {
      float: left;
      width: 50%;
    }

    div.preview {
      border-left: 1px solid #CCCCCC;
      display: block;
      float: left;
      overflow: auto;
      padding: 16px;
      width: 50%;

      @include markdown;
    }
  }

  footer {
    div.container-fluid {
      margin-top: 0;
      padding: 8px;
    }
  }
}

body:not(.editor) {
  height: 100%;

  div.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
  }

  footer, .push {
    clear: both;
    height: 50px;
  }
}

div.github-buttons {
  margin: 1em 0;

  iframe {
    border: 0;
    overflow: hidden;
  }
}

.navbar.navbar-default {
  img.avatar {
    border-radius: 2px;
    width: 18px;
  }

  a, a span {
    cursor: pointer;
  }
}

.gist {
  .description.navbar-hidden {
    margin-top: 1em;
  }

  .markdown {
    @include markdown;
  }

  .meta {
    color: #999999;
    font-size: 12px;
  }
}

.comments, .post-comment {
  > div {
    margin: 16px 0;

    img.avatar {
      float: left;
      width: 48px;
    }

    div.comment {
      border: 1px solid #CCCCCC;
      border-radius: 8px;
      margin-left: 56px;

      p {
        margin: 1em 0;
      }

      .meta {
        background-color: #EEEEEE;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid #CCCCCC;
        padding: 8px;

        a {
          color: inherit;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .actions {
          float: right;

          a {
            color: #999999;
            cursor: pointer;
            margin: 0 5px;

            span {
              cursor: pointer;
            }

            &:hover {
              color: #000000;
            }
          }
        }
      }

      .body, .edit-body {
        padding: 0 8px;
      }

      .body {
        @include markdown;
      }

      .edit-body {
        .btn-danger {
          float: left;
        }
      }
    }

    form {
      margin-bottom: 9px;
      text-align: right;

      textarea {
        height: 100px;
        margin: 8px 4px 8px 0;
        padding: 8px;
        resize: none;
      }
    }
  }

  > div.not-signed-in {
    margin-left: 56px;
  }
}

div.clearfix {
  clear: both;
}

footer {
  div.container, div.container-fluid {
    border-top: 1px solid #CCCCCC;
    color: #999999;
    font-size: 12px;
    padding: 16px 8px;

    p {
      margin: 0;
    }
  }
}
