@mixin top-gradient($color1, $color2) {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
  background: -webkit-linear-gradient(top, $color1, $color2);
  background: -moz-linear-gradient(top, $color1, $color2);
  background: -ms-linear-gradient(top, $color1, $color2);
  background: -o-linear-gradient(top, $color1, $color2);
  background: linear-gradient(top, $color1, $color2);
}

body {
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

button {
  @include top-gradient(#FFFFFF, #EFEFEF);
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 16px;
  outline: 0;
  padding: 6px 8px;

  &:hover:not([disabled]){
    @include top-gradient(#EFEFEF, #CCCCCC);
  }

  &:active:not([disabled]){
    @include top-gradient(#CCCCCC, #EFEFEF);
  }
}

.markdown {
  ul li {
    margin: 4px 0;
  }

  pre {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    overflow: auto;
    padding: 8px;

    code {
      border: 0;
    }
  }

  code {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0 4px;
  }
}

.comments, .post-comment {
  > div {
    margin: 16px 0;

    img.avatar {
      float: left;
      width: 48px;
    }

    div.comment {
      border: 1px solid #CCCCCC;
      border-radius: 8px;
      margin-left: 56px;

      .meta {
        background-color: #EEEEEE;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid #CCCCCC;
        padding: 8px;

        a {
          color: inherit;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .body {
        padding: 0 8px;
      }
    }

    form {
      margin-bottom: -4px;
      text-align: right;

      textarea {
        border: 1px solid #CCCCCC;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        box-sizing: border-box;
        box-shadow: inset 0 1px 2px #EFEFEF;
        font-size: 14px;
        height: 100px;
        margin: 8px 4px 8px 0;
        padding: 8px;
        resize: none;
        width: 100%;
      }
    }
  }

  > div.not-logged-in {
    margin-left: 56px;
  }
}

div.clearfix {
  clear: both;
}
