<form>
  <div class="editor-controls">
    <div class="name pull-left">
      <span ng-show="gist.id">gist:{{gist.id}}</span>
      <span ng-hide="gist.id">New Gist</span>
    </div>
    <div class="btn-group pull-right">
      <button class="btn btn-default" ng-click="back()">Back</button>
      <button class="btn btn-default" ng-click="openOptions(gist)">Options</button>
      <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
    <div class="user pull-right" ng-show="currentUser">
      <span>Signed in as {{currentUser.login}}</span>
    </div>
    <div class="user pull-right" ng-hide="currentUser">
      <a ng-click="signIn()">Sign in with GitHub</a>
    </div>
  </div>

  <div editor-box>
  </div>
</form>
