<div class="gist">
  <p ng-show="config.description">{{gist.description}}</p>
  <div class="markdown" ng-repeat="file in gist.files">
    <div marked="file.content"></div>
  </div>

  <p class="meta" ng-show="config.meta">
    <a href="https://gist.github.com/{{gist.user.login}}">{{gist.user.login}}</a>
    <span ng-hide="gist.user.login">anonymous</span>
    created this <span am-time-ago="gist.created_at"></span>
    <span ng-hide="gist.created_at === gist.updated_at">
      and was last updated <span am-time-ago="gist.updated_at"></span>
    </span>
    <span ng-show="gist.user && gist.user.login === currentUser.login">
      &mdash; <a ui-sref="gist.editor.edit({user: gist.user.login, id: gist.id})">Edit</a>
    </span>
  </p>
</div>

<div ng-show="config.comments">
  <div class="comments" ng-repeat="comment in comments">
    <div>
      <a href="https://gist.github.com/{{comment.user.login}}"><img class="avatar" ng-src="{{comment.user.avatar_url}}" alt="{{comment.user.login}}"></a>
      <div class="comment">
        <div class="meta"><a href="https://gist.github.com/{{comment.user.login}}">{{comment.user.login}}</a> commented <span am-time-ago="comment.created_at"></span></div>
        <div class="body" marked="comment.body"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="post-comment">
    <div ng-show="currentUser">
      <a href="https://gist.github.com/{{currentUser.login}}"><img class="avatar" ng-src="{{currentUser.avatar_url}}" alt="{{currentUser.login}}"></a>
      <div class="comment">
        <div class="body">
          <form role="form">
            <textarea class="form-control" ng-model="comment.body" placeholder="Leave a comment..."></textarea>
            <button class="btn btn-primary" ng-click="postComment()" ng-disabled="!comment.body.length">Comment</button>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="not-signed-in" ng-hide="currentUser">
      <button class="btn btn-default" ng-click="signIn()">Sign in with GitHub</button> to comment or leave one directly on <a href="https://gist.github.com/{{gist.id}}">GitHub Gist</a>.
    </div>
  </div>
</div>
