<h1>Welcome</h1>
<p>
  Bitty is a <a href="https://gist.github.com/">GitHub Gist</a> viewer and
  editor. It can render Markdown pages and also post new pages to GitHub Gist
  using the editor provided.
</p>
<p>
  Bitty is unique in a way from other gist viewers out there in that you can
  customize to an extent the way your page looks. These customizations are
  stored in a JSON file in the gist that is posted.
</p>

<h2>Creating a page</h2>
<p>
  To create a page, you can either use the editor here or go to GitHub Gist and
  create one there.
</p>

<h3>Using the editor</h3>
<p>
  A page can be created here by clicking
  <span class="octicon octicon-plus"></span> New in the top right. If you want
  to be able to edit the page later, then you should
  <span class="octicon octicon-sign-in"></span> Sign in with GitHub first.
  Once you have created your page, it will be accessible at URL like
  <code>http://bitty.io/username/7893883873a705aec69e</code>. The username in
  the URL can be omitted.
</p>

<h3>On GitHub Gist</h3>
<p>
  To create the page on GitHub Gist, create a gist with just Markdown content.
  It is recommended to name the file of your page to <code>bit.md</code>. To
  customize your page, add another file named <code>bitty.md</code> and
  <a href="#">follow the specification</a>.
</p>

<h2>Viewing pages</h2>
<p>
  Just about any Markdown gist will work with Bitty, as long as the Markdown
  file is the first file.
</p>
<p>
  To view it here:
</p>
<ol>
  <li>
    Take the identifier portion at the end of
    <code>https://gist.github.com/username/<strong>7893883873a705aec69e</strong></code>
  </li>
  <li>
    Put the identifier at the end of <code>http://bitty.io/</code>. For example:
    <code>http://bitty.io/<strong>7893883873a705aec69e</strong></code>
  </li>
</ol>
<small>Note: 7893883873a705aec69e does not point to any valid gist.</small>

<h2>About</h2>
<p>
  Bitty is created by <a href="http://kramerc.com/">Kramer Campbell</a> and is
  not affiliated with GitHub by any means. This project was inspired by
  <a href="http://gist.io">Gist.io</a>.
</p>
<p>
  This project is open source and its repository can be found on
  <a href="https://github.com/kramerc/bitty">GitHub</a>. It is licensed under
  the <a href="https://github.com/kramerc/bitty/blob/master/LICENSE">MIT license</a>.
  Please report any bugs and request any features you would like to see on the
  <a href="https://github.com/kramerc/bitty/issues">issues tracker</a>. Feel
  free to contribute and fork Bitty. Enjoy!
</p>
